@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
    /* bg-midnight text-white-200 flex flex-col justify-center m-0 p-0 */
    display: flex;
    flex-direction: column;
}

@layer base {
    html {
        font-family: Proxima Nova, system-ui, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #1e293b;
    }
}
